#Terraform local
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#Terraform working idr
.terraform/
.terraform.lock.hcl

#Environment / secret
secret.env
secret.auto.tfvars
*.pem
*.key
*.conf
*.tfvars


#logs/misc

*.log
*.bak
*.tmp
*.zip
*.tar
*.tgz
